<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="STDOUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %easyHighlight(%5.5level) %magenta(%pid) --- [%15.15thread] %cyan(%-40.40logger{39} [%4.4line]) : %msg%n"/>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.anur.logger.EasyPatternLayout">
                <pattern>
                    ${logging.console.pattern:-${STDOUT_PATTERN}}
                </pattern>
            </layout>
        </encoder>
    </appender>

    <!--while tracing what is send, switch on-->
    <logger name="com.anur.core.coordinate.sender" level="OFF"/>

    <!--while tracing what is receive by leader, switch on-->
    <logger name="com.anur.core.coordinate.apis.driver.LeaderApisHandler" level="OFF"/>

    <!--log situation-->
    <logger name="com.anur.io.hanalog.log" level="INFO"/>

    <!--prelog situation-->
    <logger name="com.anur.io.hanalog.prelog" level="INFO"/>

    <!--cluster log manager(leader only)-->
    <logger name="com.anur.core.coordinate.apis.fetch.LeaderCoordinateManager" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
